@import "_design";
@import "_basic_tags";

html, body { margin: 0; padding: 0;
             min-height: 100%;
           }

/** respect users scren size & font size setting */
html { font-size: 100%; }


body { font-size: 125%;
}


.container { display:block; width: 60rem; margin: 1rem auto;
    background-color: rgba(32, 32, 32, .8); }

header, section#content, footer {
  margin: 2rem auto;
  padding: 2rem 2rem;
}

header.container { margin-top: 0rem; padding-top: 1rem; }

header #logo {
  display: block; float: left;
  margin: 0rem 2rem 1rem 0rem;
  padding: 2rem;
  width: 20rem;
}



nav ul { list-style-type: none; }
nav ul li { display: inline-block; }

header nav ul li a { display: inline-block;
    margin: 0.5rem 0rem; padding: 0.5rem 1rem; width: 8rem;
}
footer nav ul li a { display: inline-block;
    padding: 0.5rem 1rem; }

section#content { margin: 4rem auto;
    padding-top: 1rem;
}
section#content img { max-width: 100%; }
section#content > h1 {
  padding: 0.5em 0em;
  margin-top: 0em;
  border-bottom: 0.5rem solid #999;

}

footer {
  text-align: center;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 100%;
  }
  .container {
    width: auto;
  }

  header #logo {
    display: block;
    float: none;
    width: 100%;
    margin: 0rem;
    padding: 1rem 0rem;
  }
  header #logo img {
      height: 3em;
  }
  header #logo a {
    display: block;
    float: left;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.25 1em;
  }

  header h1 {
    margin-top: 0;
  }

   header nav ul li a {
    margin: 0.5rem 0rem; padding: 0.5rem 1rem; width: 4rem;
   }
}
